html {
	font-family: Century Gothic;
}

.company {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px 0 0 10px;
}

.INLUX {
	width: 100px;
	font-size: 24pt;
	color: white;
	background: black;
	text-align: center;
	border-radius: 10px 0 0 10px;
}

.Studio {
	width: 110px;
	font-size: 24pt;
	color: black;
	background: #FFFF44;
	text-align: center;
	border-radius: 0 10px 10px 0;
}

.wrapper {
	text-align: center;
}

.pano {
	display: inline-block;
	border: 1px solid;
	margin: 20px 10px 5px;
}

p {
	margin-top: 0px;
	margin-bottom: 5px;
}

img {
	width: 450px;
	height: auto;
}