.wrapper {
	text-align: center;
}

.Pr {
	display: inline-block;
	text-align: center;
	border: 1px solid;
	margin-bottom: 5px;
}

p {
	font: 16pt Century Gothic;
	margin-top: 0px;
	margin-bottom: 5px;
}

img {
	width: 450px;
	height: auto;
}
