.container {
	width: 100%;
	margin: 20px auto;
	overflow: auto;
}

.container ul li {
	list-style: none;
	float: left;
	font: 10px/1.5 Verdana, Helvetica, Sans-serif;
	width: 20%;
	margin: 2% 2% 60px 2%;
}

.container ul li a {
	color: #5d5f5d;
}

.container ul li a img {
	max-width: 100%;
/*   border: 1px solid #5d5f5d;
  padding: 20px; */
}

@media screen and (min-width : 941px) {
	.container ul li:nth-child(4n+1) {
		clear: left;
	}

}

@media screen and (min-width: 721px) and (max-width : 941px) {

	.container ul li {
		width: 29%;
	}

	.container ul li:nth-child(3n+1) {
		clear: left;
	}

}

/* 100% - (3 * 4%) = 88% */
/* 88%/3 = 29.33333% */

@media only screen and (min-width: 531px) and (max-width : 721px) {

	.container ul li {
		width: 43%
	}

	.container ul li:nth-child(2n+1) {
		clear: left;
	}

}

@media only screen and (min-width: 320px) and (max-width : 531px) {

	.container ul li {
		width: 90%
	}

	.container ul li:nth-child(1n+1) {
		clear: left;
	}

}

@media only screen and (max-width : 320px) {
	.container ul li {
		width: 96%
	}
}
